@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

@keyframes bounceBar {
  0%, 100% {
    transform: scaleY(0.2);
  }
  50% {
    transform: scaleY(1);
  }
}

.animate-equalizer-bar {
  animation: bounceBar 1s ease-in-out infinite;
  transform-origin: bottom;
}